.notification {
  color: white;
  text-decoration: none;
  padding: 10px 10px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification .badge {
  position: absolute;
  top: 0px;
  right: -12px;
  padding: 2px 5px;
  border-radius: 50%;
  background-color: #e31763;
  color: white;
}

.nav-link.notification {
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
}

.nav-link.notification span {
  display: flex;
  justify-content: right;
  margin-right: 15px;
}

form-control {
  color: black;
}