:host {
    display: block;
    text-align: center;
}

.header {
    background: rgb(119,82,98);
    background: radial-gradient(circle, rgba(119,82,98,1) 0%, rgba(5,6,80,1) 100%)
}

ul {
    padding: 0;
    float: left;
    margin-left: 15px;
}

ul li {
    margin-bottom: 20px;
}

.list-header {
    text-align: left; 
    margin-bottom: 20px; 
}

.form-control-alternative {    
    color: black;
}

.form-control {    
    color: black;
}

.form-control-label {
    text-align: left;
}

.btn-warning {
    color: #fff;
    border-color: orange;
    background-color: #fb9a40;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

.btn-pdf {
    color: white;
    background-color: #61677A; 
    border-color: #61677A;
    position: absolute;
    right: 185px;
    width: 30px;
}

.btn-pdf .btn-inner--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.btn-excel {
    color: white;
    background-color: #61677A; 
    border-color: #61677A;
    position: absolute;
    right: 235px;
    width: 30px;
}

.btn-excel .btn-inner--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.btn-list {
    background-color: #3f5180; 
    border-color: #3f5180;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: rgb(15, 218, 15);
    border-radius: 50%;
    display: inline-block;
}

.dot-warning {
    height: 25px;
    width: 25px;
    background-color: rgb(243, 160, 6);
    border-radius: 50%;
    display: inline-block;
}

.dot-fail {
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

.tab{
    align-items: left;
    padding:10px 20px;
    margin:0px 2px;
    background:#5069AB;
    display:inline-block;
    color:#fff;
    border-radius:10px 0px 0px 0px;
    box-shadow: 0 0.0rem 0.0rem #cd8500;
    z-index: 0;
    position: relative; 
  }
  .panels{
    overflow:hidden;
  }
  .panel{
    display:none;
    animation: fadein .8s;
  }
  @keyframes fadein {
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  .panel-title{
    font-size:1.5em;
    font-weight:bold
  }
  .radio{
    display:none;
  }
  #one:checked ~ .panels #one-panel,
  #two:checked ~ .panels #two-panel,
  #three:checked ~ .panels #three-panel{
    display:block
  }
  #one:checked ~ .tabs #one-tab,
  #two:checked ~ .tabs #two-tab,
  #three:checked ~ .tabs #three-tab{
    background:#fffffff6;
    color:#000;
    border-top: 3px solid #112F3B;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .p-dialog.p-confirm-dialog {
    z-index: 999;
    border-style: groove;
    .p-confirm-dialog-message {
      color: #333333;
    }
    .p-dialog-header { 
      background-color: #8898aa !important; 
      color: white !important; 
      .p-dialog-header-icon { 
        color: white !important; 
      } 
    }
    .p-dialog-content { 
      background-color: #f6f9fc !important; 
      color: white !important; 
      height: max-content;
      padding-top: 50px;
      padding-bottom: 50px;
    } 
    .p-dialog-footer { 
      background-color: #8898aa !important; 
      color: white !important; 
    }
  }