.header {
    background: rgb(119,82,98);
    background: radial-gradient(circle, rgba(119,82,98,1) 0%, rgba(5,6,80,1) 100%)
}

.form-control-alternative {    
    color: black;
}

.form-control {    
    color: black;
}