a.text-nowrap:hover
{    
   -webkit-text-decoration-line: underline; /* Safari */
   text-decoration-line: underline; 
}

.header {
   background: rgb(119,82,98);
   background: radial-gradient(circle, rgba(119,82,98,1) 0%, rgba(5,6,80,1) 100%)
}