<div class="header pb-5 pt-5 pt-md-8">
</div>
<div class="container-fluid mt--7">
  <p-confirmDialog class="p-dialog p-confirm-dialog" key="deleteEnrollment" [style]="{width: '330px'}"></p-confirmDialog>
  <div class="row">
    <div class="col order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Öğrenci</h3>
            </div>
            <!-- kaydet butonu -->
            <div class="col-4 text-right">
              <button type="button" class="btn btn-success btn-primary" [disabled]="!this.student.name || !this.student.surname || student.regState == null" (click)="saveStudent()">
                  Kaydet
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-lg-2">
                <div class="form-group">
                  <label class="form-control-label" for="input-first-name">Kayıt Türü *</label>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-check">
                  <input type="radio" [value]="0" [(ngModel)]="student.regType" id="flexRadioDefault1" name="radioPackage">
                  <label class="form-check-label" for="flexRadioDefault1">
                    Paket Tipi
                  </label>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-check">
                  <input type="radio" [value]="1" [(ngModel)]="student.regType" id="flexRadioDefault2" name="radioEnroll">
                  <label class="form-check-label" for="flexRadioDefault2">
                    Özel Ders
                  </label>
                </div>
              </div>
            </div>
          </div>
          <ng-container *ngIf="student.regType == 0">
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Ad *</label>
                    <input type="text" id="input-first-name" class="form-control form-control-alternative first-letter" placeholder="Mehmet" [(ngModel)]="student.name">
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Soyad *</label>
                    <input type="text" id="input-last-name" class="form-control form-control-alternative first-letter" placeholder="Er" [(ngModel)]="student.surname">
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="inputReqState">Kayıt Durumu *</label>
                    <select id="inputReqState" class="form-control" [(ngModel)]="student.regState">
                      <option *ngFor="let state of rState" [value]="state.rStateId">{{state.rState}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="input-phone-number">Telefon Numarası</label>
                    <input type="text" id="input-phone-number" class="form-control form-control-alternative" placeholder="555 055 55 55" [(ngModel)]="student.phoneNumber">
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email</label>
                    <input type="email" id="input-email" class="form-control form-control-alternative" placeholder="mehmet@example.com" [(ngModel)]="student.mail">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Adresi</label>
                    <input id="input-address" class="form-control form-control-alternative first-letter" placeholder="Ev Adresi" type="text" [(ngModel)]="student.address">
                  </div>
                </div>
              </div>
            </div>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="input-school">Okulu</label>
                    <input type="text" id="input-school" class="form-control form-control-alternative first-letter" placeholder="Okul" [(ngModel)]="student.school">
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="inputStudent">Sınıfı</label>
                      <select id="inputStudent" class="form-control" [(ngModel)]="student.gradeId">
                        <option *ngFor="let grades of grade" [value]="grades.gradeId">{{grades.grade}}</option>
                      </select>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="input-stuparent">Öğrenci Velisi</label>
                    <input type="text" id="input-stuparent" class="form-control form-control-alternative first-letter" [(ngModel)]="student.parent">
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="input-par-phone-number"> Veli Telefon Numarası</label>
                    <input type="text" id="input-par-phone-number" class="form-control form-control-alternative" placeholder="555 055 55 55" [(ngModel)]="student.parentPhoNo">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="inputpackageId">Paket Tipi</label>
                    <select id="inputpackageId" class="form-control" [(ngModel)]="student.packageId">
                      <option *ngFor="let pack of packages" [value]="pack.packageId">{{pack.packageName}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="input-totalPrice">Paket Toplam Fiyatı</label>
                    <div class="input-group input-group-alternative mb-4">
                      <input type="text" id="input-totalPrice" class="form-control form-control-alternative first-letter" [(ngModel)]="student.totalPrice">
                      <div class="input-group-prepend">
                        <span class="input-group-text">₺</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="input-totalPrice">Alınan Peşinat</label>
                    <div class="input-group input-group-alternative mb-4">
                      <input type="text" id="input-totalPrice" class="form-control form-control-alternative first-letter" [(ngModel)]="student.advancePrice">
                      <div class="input-group-prepend">
                        <span class="input-group-text">₺</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="inputReqState">Başlanacak Ay</label>
                    <select id="inputReqState" class="form-control" [(ngModel)]="student.startMonth">
                      <option *ngFor="let month of months" [value]="month.value">{{month.label}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="inputReqState">Toplam Taksit Sayısı</label>
                    <select id="inputReqState" class="form-control" [(ngModel)]="student.installment">
                      <option *ngFor="let inst of numbersOfInstallment" [value]="inst">{{inst}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3">
                  <div class="form-group">
                    <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#packageModal" (click)="packageClear()">Paket Oluştur</a>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="student.regType == 1">
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Ad *</label>
                    <input type="text" id="input-first-name" class="form-control form-control-alternative first-letter" placeholder="Mehmet" [(ngModel)]="student.name">
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Soyad *</label>
                    <input type="text" id="input-last-name" class="form-control form-control-alternative first-letter" placeholder="Er" [(ngModel)]="student.surname">
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="inputReqState">Kayıt Durumu *</label>
                    <select id="inputReqState" class="form-control" [(ngModel)]="student.regState">
                      <option *ngFor="let state of rState" [value]="state.rStateId">{{state.rState}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="input-phone-number">Telefon Numarası</label>
                    <input type="text" id="input-phone-number" class="form-control form-control-alternative" placeholder="555 055 55 55" [(ngModel)]="student.phoneNumber">
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email</label>
                    <input type="email" id="input-email" class="form-control form-control-alternative" placeholder="mehmet@example.com" [(ngModel)]="student.mail">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Adresi</label>
                    <input id="input-address" class="form-control form-control-alternative first-letter" placeholder="Ev Adresi" type="text" [(ngModel)]="student.address">
                  </div>
                </div>
              </div>
            </div>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="input-school">Okulu</label>
                    <input type="text" id="input-school" class="form-control form-control-alternative first-letter" placeholder="Okul" [(ngModel)]="student.school">
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="inputStudent">Sınıfı</label>
                    <select id="inputStudent" class="form-control" [(ngModel)]="student.gradeId">
                      <option *ngFor="let grades of grade" [value]="grades.gradeId">{{grades.grade}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="input-stuparent">Öğrenci Velisi</label>
                    <input type="text" id="input-stuparent" class="form-control form-control-alternative first-letter" [(ngModel)]="student.parent">
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="input-par-phone-number"> Veli Telefon Numarası</label>
                    <input type="text" id="input-par-phone-number" class="form-control form-control-alternative" placeholder="555 055 55 55" [(ngModel)]="student.parentPhoNo">
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="form-control-label" for="input-par-phone-number">Rutin Dersler</label>
                <div class="table-responsive">
                  <table class="table table-bordered align-items-center table-flush">
                    <thead class="thead-light" style="text-align: center;">
                      <tr>
                        <th scope="col">Ders</th>
                        <th scope="col">Öğretmen</th>
                        <th scope="col">Ücreti</th>
                        <th scope="col">Günler</th>
                        <th scope="col">Başlangıç Tarihi</th>
                        <th scope="col">Düzenle</th>
                        <th scope="col">Sil</th>
                      </tr>
                    </thead>
                    <tbody style="text-align: center; background-color: white;">
                      <tr *ngFor="let enrollment of enrollments">
                        <td>
                          <div *ngFor="let lesson of lessons">
                            <span *ngIf="enrollment.lesson.lessonId == lesson.lessonId">{{lesson.lesson}}</span>
                          </div>
                        </td>
                        <td scope="row">
                          <div *ngFor="let teacher of teachers">
                            <span *ngIf="(teacher.teacherId == enrollment.teacher.teacherId)">{{teacher.teacherName}} {{teacher.teacherSurname}}</span>
                          </div>                  
                        </td>
                        <td>
                          {{enrollment.price}}
                        </td>
                        <td>
                          <div *ngFor="let day of enrollment.days">
                            <span>{{day.name}}</span>
                          </div> 
                        </td>
                        <td>
                          {{enrollment.firstDate | date:'dd-MM-yyyy'}}
                        </td>
                        <td>
                          <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#coachingModal" (click)="editEnrollment(enrollment.enrollmentId)">
                            <span class="btn-inner--icon"><i class="fa fa-edit"></i></span>
                          </button>
                        </td>
                        <td>
                          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" (click)="deleteEnrollment(enrollment)">
                            <span class="btn-inner--icon"><i class="fas fa-trash-alt"></i></span>
                          </button>
                        </td>
                      </tr>               
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row">
                <label class="form-control-label" for="input-par-phone-number">Normal Dersler</label>
                <div class="table-responsive">
                  <table class="table table-bordered align-items-center table-flush">
                    <thead class="thead-light" style="text-align: center;">
                      <tr>
                        <th scope="col">Ders</th>
                        <th scope="col">Öğretmen</th>
                        <th scope="col">Ücreti</th>
                        <th scope="col">Düzenle</th>
                        <th scope="col">Sil</th>
                      </tr>
                    </thead>
                    <tbody style="text-align: center; background-color: white">
                      <tr *ngFor="let nEnrollment of normalEnrollments">
                        <td>
                          <div *ngFor="let lesson of lessons">
                            <span *ngIf="nEnrollment.lesson.lessonId == lesson.lessonId">{{lesson.lesson}}</span>
                          </div>
                        </td>
                        <td scope="row">
                          <div *ngFor="let teacher of teachers">
                            <span *ngIf="(teacher.teacherId == nEnrollment.teacher.teacherId)">{{teacher.teacherName}} {{teacher.teacherSurname}}</span>
                          </div>                  
                        </td>
                        <td>
                          {{nEnrollment.price}}
                        </td>
                        <td>
                          <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#nCoachingModal" (click)="editNormalEnrollment(nEnrollment.nEnrollmentId)">
                            <span class="btn-inner--icon"><i class="fa fa-edit"></i></span>
                          </button>
                        </td>
                        <td>
                          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" (click)="deleteNormalEnrollment(nEnrollment)">
                            <span class="btn-inner--icon"><i class="fas fa-trash-alt"></i></span>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
                <div class="row">
                  <!--<div class="col-lg-4">                  
                    <label class="form-control-label" for="input-stuparent">Talep Edilen Dersler</label>
                    <div class="custom-control custom-checkbox mb-3" *ngFor="let lesson of lessons">
                      <input class="custom-control-input" id="customCheck{{lesson.lessonId}}" type="checkbox"
                             [(ngModel)]="lesson.selected">
                      <label class="custom-control-label" for="customCheck{{lesson.lessonId}}">{{lesson.lesson}}</label>
                    </div>
                  </div>-->
                  <div class="col-lg-8">
                    <div class="form-group">
                      <label class="form-control-label" for="textarea-exception">Açıklama</label>
                      <textarea rows="4" id="textarea-explanation" class="form-control form-control-alternative" placeholder="Alınmak istenen notlar" [(ngModel)]="student.explanation"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-9">
                    <div class="form-group">
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#nCoachingModal" [disabled]="!this.student.name || !this.student.surname || student.regState == null" (click)="clear()">Normal Özel Ders Ekle</button>
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#coachingModal" [disabled]="!this.student.name || !this.student.surname || student.regState == null" (click)="clear()">Rutin Özel Ders Ekle</button>
                    </div>
                  </div>
                </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
  
<!-- Package Modal Screen -->
<div class="modal fade" id="packageModal" tabindex="-1" role="dialog" aria-labelledby="packageModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="packageModalLongTitle">Paket Oluştur</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="background-color: #f7fafc;">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label class="form-control-label" for="input-expense">Paket İsmi</label>
              <input type="text" id="input-expense" class="form-control form-control-alternative" placeholder="Sayısal A"
               [(ngModel)]="package.packageName">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4" *ngFor="let lesson of lessons">
            <div class="form-group">
              <div class="custom-control custom-checkbox mb-3">
                <input class="custom-control-input" id="customCheck{{lesson.lessonId}}" type="checkbox"
                       [(ngModel)]="lesson.selected">
                <label class="custom-control-label" for="customCheck{{lesson.lessonId}}">{{lesson.lesson}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="closePackageModal" type="button" class="btn btn-secondary btn-default" data-dismiss="modal">Kapat</button>
        <button type="button" class="btn btn-success btn-primary" [disabled]="!package.packageName" (click)="savePackage()">Onay</button>
      </div>
    </div>
  </div>
</div>
  
<!-- Routine Coaching Modal Screen -->
<div class="modal fade" id="coachingModal" tabindex="-1" role="dialog" aria-labelledby="coachingModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="coachingModalLongTitle">Rutin Özel Ders Oluştur</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="background-color: #f7fafc;">
        <p-confirmDialog class="p-dialog p-confirm-dialog" key="submitConfirm" [style]="{width: '330px'}"></p-confirmDialog>
        <p-confirmDialog class="p-dialog p-confirm-dialog" key="showError" [style]="{width: '450px'}"></p-confirmDialog>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="inputLesson">Ders</label>
              <select id="inputLesson" class="form-control" [(ngModel)]="selectedLessonId" (change)="getTeachersByLessonId()">
                <option style="display:none">Ders Seçiniz</option>
                <option id="optionLesson" *ngFor="let lesson of lessons" [value]="lesson.lessonId">{{lesson.lesson}}</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="inputTeacher">Öğretmen</label>
              <select id="inputTeacher" class="form-control" [(ngModel)]="selectedTeacherId">
                <option style="display:none">Öğretmen Seçiniz</option>
                <option *ngFor="let teacher of teachersListByLesson" [value]="teacher.teacherId">{{teacher.teacherName}} {{teacher.teacherSurname}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="inputLesson">Günler</label>
              <div class="custom-control custom-checkbox mb-3" *ngFor="let day of days">
                <input class="custom-control-input" id="checkDay{{day.id}}" type="checkbox"
                    [(ngModel)]="day.selected">
                <label class="custom-control-label" for="checkDay{{day.id}}">{{day.name}}</label>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="input-price">Ücreti</label>
              <div class="input-group input-group-alternative mb-4">
                <input type="number" id="input-stuparent" class="form-control form-control-alternative" [(ngModel)]="enrollment.price" name="price">
                <div class="input-group-prepend">
                  <span class="input-group-text">₺</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="form-control-label" for="input-day">Başlangıç Tarihi</label>
              <div class="input-group input-group-alternative mb-4">
                <input type="date" id="input-date-ts" class="form-control form-control-alternative" [(ngModel)]="enrollment.firstDate">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="closeCoachingModal" type="button" class="btn btn-secondary btn-default" data-dismiss="modal">Kapat</button>
        <button type="button" class="btn btn-success btn-primary" (click)="saveEnrollment()"  [disabled]="enrollmentControl()">Onay</button>
      </div>
    </div>
  </div>
</div>
  
<!-- Normal Coaching Modal Screen -->
<div class="modal fade" id="nCoachingModal" tabindex="-1" role="dialog" aria-labelledby="nCoachingModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="nCoachingModalLongTitle">Normal Özel Ders Oluştur</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="background-color: #f7fafc;">
        <p-confirmDialog class="p-dialog p-confirm-dialog" key="submitConfirm" [style]="{width: '330px'}"></p-confirmDialog>
        <p-confirmDialog class="p-dialog p-confirm-dialog" key="showError" [style]="{width: '450px'}"></p-confirmDialog>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="inputLesson">Ders</label>
              <select id="inputLesson" class="form-control" [(ngModel)]="selectedLessonId" (change)="getTeachersByLessonId()">
                <option style="display:none">Ders Seçiniz</option>
                <option id="optionLesson" *ngFor="let lesson of lessons" [value]="lesson.lessonId">{{lesson.lesson}}</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="inputTeacher">Öğretmen</label>
              <select id="inputTeacher" class="form-control" [(ngModel)]="selectedTeacherId">
                <option style="display:none">Öğretmen Seçiniz</option>
                <option *ngFor="let teacher of teachersListByLesson" [value]="teacher.teacherId">{{teacher.teacherName}} {{teacher.teacherSurname}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="input-price">Ücreti</label>
              <div class="input-group input-group-alternative mb-4">
                <input type="number" id="input-stuparent" class="form-control form-control-alternative" [(ngModel)]="normalEnrollment.price" name="price">
                <div class="input-group-prepend">
                  <span class="input-group-text">₺</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="closeNCoachingModal" type="button" class="btn btn-secondary btn-default" data-dismiss="modal">Kapat</button>
        <button type="button" class="btn btn-success btn-primary" (click)="saveNormalEnrollment()"  [disabled]="this.selectedTeacherId != null && this.enrollment.price != null && selectedLessonId != null">Onay</button>
      </div>
    </div>
  </div>
</div>

<p-toast position="top-center" style="z-index: 5000;"></p-toast>